<a href="https://colab.research.google.com/github/SrinivasKarnati/1.2-PythonForDataScience_intro.ipynb/blob/main/%201.2-PythonForDataScience_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Using Jupyter Notebooks
:label:`sec_jupyter`


This section describes how to edit and run the code
in each section of this book
using the Jupyter Notebook. Make sure you have
installed Jupyter and downloaded the
code as described in
:ref:`chap_installation`.
If you want to know more about Jupyter see the excellent tutorial in
their [documentation](https://jupyter.readthedocs.io/en/latest/).


## Editing and Running the Code Locally

Suppose that the local path of the book's code is `xx/yy/d2l-en/`. Use the shell to change the directory to this path (`cd xx/yy/d2l-en`) and run the command `jupyter notebook`. If your browser does not do this automatically, open http://localhost:8888 and you will see the interface of Jupyter and all the folders containing the code of the book, as shown in :numref:`fig_jupyter00`.

![The folders containing the code of this book.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter00.png?raw=1)
:width:`600px`
:label:`fig_jupyter00`


You can access the notebook files by clicking on the folder displayed on the webpage.
They usually have the suffix ".ipynb".
For the sake of brevity, we create a temporary "test.ipynb" file.
The content displayed after you click it is
shown in :numref:`fig_jupyter01`.
This notebook includes a markdown cell and a code cell. The content in the markdown cell includes "This Is a Title" and "This is text.".
The code cell contains two lines of Python code.

![Markdown and code cells in the "text.ipynb" file.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter01.png?raw=1)
:width:`600px`
:label:`fig_jupyter01`


Double click on the markdown cell to enter edit mode.
Add a new text string "Hello world." at the end of the cell, as shown in :numref:`fig_jupyter02`.

![Edit the markdown cell.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter02.png?raw=1)
:width:`600px`
:label:`fig_jupyter02`


As demonstrated in :numref:`fig_jupyter03`,
click "Cell" $\rightarrow$ "Run Cells" in the menu bar to run the edited cell.

![Run the cell.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter03.png?raw=1)
:width:`600px`
:label:`fig_jupyter03`

After running, the markdown cell is shown in :numref:`fig_jupyter04`.

![The markdown cell after running.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter04.png?raw=1)
:width:`600px`
:label:`fig_jupyter04`


Next, click on the code cell. Multiply the elements by 2 after the last line of code, as shown in :numref:`fig_jupyter05`.

![Edit the code cell.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter05.png?raw=1)
:width:`600px`
:label:`fig_jupyter05`


You can also run the cell with a shortcut ("Ctrl + Enter" by default) and obtain the output result from :numref:`fig_jupyter06`.

![Run the code cell to obtain the output.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter06.png?raw=1)
:width:`600px`
:label:`fig_jupyter06`


When a notebook contains more cells, we can click "Kernel" $\rightarrow$ "Restart & Run All" in the menu bar to run all the cells in the entire notebook. By clicking "Help" $\rightarrow$ "Edit Keyboard Shortcuts" in the menu bar, you can edit the shortcuts according to your preferences.

## Advanced Options

Beyond local editing two things are quite important: editing the notebooks in the markdown format and running Jupyter remotely.
The latter matters when we want to run the code on a faster server.
The former matters since Jupyter's native ipynb format stores a lot of auxiliary data that is
irrelevant to the content,
mostly related to how and where the code is run.
This is confusing for Git, making
reviewing contributions very difficult.
Fortunately there is an alternative---native editing in the markdown format.

### Markdown Files in Jupyter

If you wish to contribute to the content of this book, you need to modify the
source file (md file, not ipynb file) on GitHub.
Using the notedown plugin we
can modify notebooks in the md format directly in Jupyter.


First, install the notedown plugin, run the Jupyter Notebook, and load the plugin:

```
pip install d2l-notedown  # You may need to uninstall the original notedown.
jupyter notebook --NotebookApp.contents_manager_class='notedown.NotedownContentsManager'
```

You may also turn on the notedown plugin by default whenever you run the Jupyter Notebook.
First, generate a Jupyter Notebook configuration file (if it has already been generated, you can skip this step).

```
jupyter notebook --generate-config
```

Then, add the following line to the end of the Jupyter Notebook configuration file (for Linux or macOS, usually in the path `~/.jupyter/jupyter_notebook_config.py`):

```
c.NotebookApp.contents_manager_class = 'notedown.NotedownContentsManager'
```

After that, you only need to run the `jupyter notebook` command to turn on the notedown plugin by default.

### Running Jupyter Notebooks on a Remote Server

Sometimes, you may want to run Jupyter notebooks on a remote server and access it through a browser on your local computer. If Linux or macOS is installed on your local machine (Windows can also support this function through third-party software such as PuTTY), you can use port forwarding:

```
ssh myserver -L 8888:localhost:8888
```

The above string `myserver` is the address of the remote server.
Then we can use http://localhost:8888 to access the remote server `myserver` that runs Jupyter notebooks. We will detail on how to run Jupyter notebooks on AWS instances
later in this appendix.

### Timing

We can use the `ExecuteTime` plugin to time the execution of each code cell in Jupyter notebooks.
Use the following commands to install the plugin:

```
pip install jupyter_contrib_nbextensions
jupyter contrib nbextension install --user
jupyter nbextension enable execute_time/ExecuteTime
```

## Summary

* Using the Jupyter Notebook tool, we can edit, run, and contribute to each section of the book.
* We can run Jupyter notebooks on remote servers using port forwarding.


## Exercises

1. Edit and run the code in this book with the Jupyter Notebook on your local machine.
1. Edit and run the code in this book with the Jupyter Notebook *remotely* via port forwarding.
1. Compare the running time of the operations $\mathbf{A}^\top \mathbf{B}$ and $\mathbf{A} \mathbf{B}$ for two square matrices in $\mathbb{R}^{1024 \times 1024}$. Which one is faster?


[Discussions](https://discuss.d2l.ai/t/421)

In [2]:
price = 900
# print the value saved in the variable 'price'
print('The price of the mobile is $',price,sep='')

The price of the mobile is $900

In [3]:
brand = 'Apple'
# print the value saved in the variable 'brand'
print('The brand of the mobile is',brand)

The brand of the mobile is Apple

In [4]:
ram = 4
# print the value saved in the variable 'ram'
print('The RAM of the mobile is', ram,'GB')

The RAM of the mobile is 4 GB

In [5]:
# store the internal storage (in GB) of the mobile in variable 'storage'.
storage = 128
# print the value saved in the variable 'Memory'
print('The internal storage of the mobile is', storage, 'GB')

The internal storage of the mobile is 128 GB

In [6]:
is_billed = True
print(is_billed)

True

In [7]:
type(price)

int

In [9]:
type(brand)

str

In [10]:
type(ram)

int

In [11]:
type(storage)

int

In [12]:
type(is_billed)

bool

In [13]:
bill = price + price
# the same result can be achieved by multiplication.
bill = price*2
print('The bill amount is $',bill,sep='')

The bill amount is $1800

In [14]:
# store the price (in dollars) of the mobile in variable 'price'
price = 900
# store the discount amount in variable 'discount'
discount = 15
# calculate the discounted price
price_after_discount = price - discount
print('The price of the iPhone after the discount is $',price_after_discount,sep='')

The price of the iPhone after the discount is $885

In [15]:
# store the bill (in dollars) of the two mobiles in variable 'bill'
bill = 1800
# calculate the price of one mobile
price = bill / 2
print('The price of an Apple iPhone is $',price,sep='')

The price of an Apple iPhone is $900.0

In [16]:
# store the bill (in dollars) of the mobile in variable 'bill'
bill = 3600
# store the price (in dollars) of the mobile in variable 'price'
price = 900
# calculate the number of iPhones that the customer buys
x = bill // price
# double divided forces the answer to be an integer!
print('The customer buys', x, 'Apple iPhones')

The customer buys 4 Apple iPhones

In [17]:
# store the price (in dollars) of the mobile in variable 'price'
price = 900
# calculate the discount amount
discount = price * 0.045
# calculate the discounted price
discounted_price = price - discount
print('The discounted price of the iPhone is ' + str(discounted_price))

The discounted price of the iPhone is 859.5

In [18]:
type(discounted_price)

float

In [19]:
print('The data type of variable price is',type(price))
print('The data type of variable discount is',type(discount))

The data type of variable price is <class 'int'>
The data type of variable discount is <class 'float'>

In [20]:
brand + ' ' + str(ram) + 'GB'

'Apple 4GB'

In [21]:
Brand = 'Apple'
print (Brand)

Apple

In [22]:
brand_list = ['Apple', 'Samsung', 'LG', 'Xiaomi', 'Oppo']
print(brand_list)

['Apple', 'Samsung', 'LG', 'Xiaomi', 'Oppo']

In [23]:
type(brand_list)

list

In [26]:
ram_list = [4, 12, 8, 8]
storage_list = [128, 128, 64, 128]
price_list = [900, 899, 600, 1000]

In [24]:
print(brand_list[0])

Apple

In [27]:
print('RAM List:', ram_list)
print('Storage List:', storage_list)
print('Price List:', price_list)

RAM List: [4, 12, 8, 8]
Storage List: [128, 128, 64, 128]
Price List: [900, 899, 600, 1000]